.cart__card {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;

  &_left-wrap {
    width: 60%;
  }

  &_delete-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 34px;
    border: none;
    background-color: transparent;
    line-height: 40px;
    cursor: pointer;
    margin-left: 20px;

    &.cart-popup {
      align-self: flex-end;
    }
  }

  &.cart-popup {
    justify-content: flex-start;
  }

  &_info-block,
  &_attributes-block,
  &_amount-block {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_info-block.cart-popup {
    width: 60%;
    flex-direction: row;
  }

  &_attributes-block {
    margin-top: 20px;
    width: 40%;
  }

  &_attributes-block.cart-popup {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  &_amount-block.cart-popup {
    margin-top: 10px;
    width: 40%;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    & img {
      width: 105px;
      height: 120px;
    }
  }

  &_amount {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
  }

  &_btn {
    width: 45px;
    height: 45px;
    background-color: transparent;
    font-size: 44px;
    font-weight: 300;
    line-height: 34px;
    border: 1px solid black;
    cursor: pointer;
  }

  &_amount-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;

    & img {
      width: 200px;
      max-height: 190px;
      object-fit: cover;
    }
  }

  &__slider {
    position: relative;
    max-height: 190px;

    &_btn {
      position: absolute;
      top: calc(50% - 10px);
      color: #2f25b9;
      font-size: 28px;
      font-weight: 600;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &.left {
        left: 5px;
      }

      &.right {
        right: 5px;
      }
    }
  }
}
