.product {
  display: flex;
  padding-top: 80px;

  &__gallery {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    width: 120px;
    max-height: 600px;
    overflow: auto;

    & img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      cursor: pointer;
    }
  }

  &__description {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;

    & .img-wrap {
      max-width: 610px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_info {
      width: 31%;
      height: 610px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: flex-start;
    }

    & img {
      object-fit: contain;
    }

    &_brand {
      font-weight: 600;
      font-size: 30px;
      line-height: 27px;
    }

    &_name {
      font-size: 30px;
      line-height: 27px;
      margin-top: 16px;
    }

    &_brand.cart-popup,
    &_name.cart-popup,
    &_price_price.cart-popup {
      font-weight: 300;
      font-size: 16px;
      line-height: 160%;
      margin: 0;
    }

    &_price_price.cart-popup {
      font-weight: 600;
    }

    &_price_name.cart-popup {
      display: none;
    }

    &_price {
      &_name {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
      }

      &_price {
        margin-top: 20px;
        font-weight: 700;
        font-size: 24px;
        line-height: 18px;
      }
    }

    &_text {
      max-height: 100px;
      overflow: auto;
    }

    &_amount {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  }

  &__add-btn {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    background-color: #5ece7b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    color: white;
    border: none;
    cursor: pointer;

    &:disabled {
      background-color: rgb(90, 85, 85);
      cursor: inherit;
    }

    &.popup {
      width: 250px;
    }
  }
}
