.product__description_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &.cart-popup {
    width: 40%;
  }

  &.popup {
    width: 30%;
    margin: 30px 0;
  }

  &.cart,
  &.cart-popup {
    display: flex;
    max-height: 190px;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    padding: 0;
    width: 80px;
  }
}

.cart__card_btn {
  width: 45px;
  height: 45px;
  background-color: transparent;
  font-size: 44px;
  font-weight: 300;
  line-height: 34px;
  border: 1px solid black;
  cursor: pointer;
}
