.main {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 80px 20px 0;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #635a5a6c;
    width: 100%;
    height: 100%;
    z-index: 30;
  }

  &__popup {
    position: absolute;
    top: 35%;
    left: calc(50% - 350px);
    width: 700px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &_close {
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: none;
      font-size: 24px;
      line-height: 44px;
      cursor: pointer;
      align-self: flex-start;
    }

    &_wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &_heading {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  &__heading {
    font-size: 42px;
    line-height: 160%;
    margin-bottom: 100px;
  }
}
